In [9]:
import pymysql

connection = pymysql.connect(host="101.101.208.151",
                             port=3306, 
                             user="kdt", 
                             password="kdt1234!@",
                             database="news_db",
                             charset="utf8mb4")

In [10]:
tables = [
    


"""
CREATE TABLE sub_category(
    sub_id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(64),
    PRIMARY KEY(sub_id)
);
""",

"""
CREATE TABLE main_category(
    main_id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(64),
    PRIMARY KEY(main_id)
);
""",

"""
CREATE TABLE platform_info(
    platform_id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(64),
    PRIMARY KEY(platform_id)
);
""",
"""
CREATE TABLE news(
    news_id INT NOT NULL AUTO_INCREMENT,
    title VARCHAR(255),
    writer VARCHAR(255),
    content TEXT,
    writed_at DATETIME,
    url VARCHAR(255),
    PRIMARY KEY(news_id),
    main_id INT,
    sub_id INT,
    platform_id INT,
    FOREIGN KEY (main_id) REFERENCES main_category (main_id),
    FOREIGN KEY (sub_id) REFERENCES sub_category (sub_id),
    FOREIGN KEY (platform_id) REFERENCES platform_info (platform_id)
);
""",
"""    
CREATE TABLE sticker(
    sticker_id INT NOT NULL AUTO_INCREMENT,
    sticker_name VARCHAR(64),
    count INT,
    news_id INT,
    PRIMARY KEY(sticker_id),
    FOREIGN KEY (news_id) REFERENCES news (news_id)
);
""",

"""    
CREATE TABLE comment(
    comment_id INT NOT NULL AUTO_INCREMENT,
    comment VARCHAR(255),
    news_id INT,
    PRIMARY KEY(comment_id),
    FOREIGN KEY (news_id) REFERENCES news (news_id)
);
"""]

In [11]:
with connection.cursor() as cursor:
    for table in tables:
        cursor.execute(table)
connection.commit()

In [17]:
with connection.cursor() as cursor:
    #print(cursor.execute('SHOW TABLES'))
    print(cursor.execute('describe news')) #테이블 개수 보여줌
    print(cursor.fetchall())

9
(('news_id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('title', 'varchar(255)', 'YES', '', None, ''), ('writer', 'varchar(255)', 'YES', '', None, ''), ('content', 'text', 'YES', '', None, ''), ('writed_at', 'datetime', 'YES', '', None, ''), ('url', 'varchar(255)', 'YES', '', None, ''), ('main_id', 'int(11)', 'YES', 'MUL', None, ''), ('sub_id', 'int(11)', 'YES', 'MUL', None, ''), ('platform_id', 'int(11)', 'YES', 'MUL', None, ''))

In [14]:
t_cur = connection.cursor(pymysql.cursors.DictCursor)
t_cur.execute('select * from information_schema.columns where table_schema = %s and table_name = %s',
                ('news_db', 'news'))

9